UPSTASH_REDIS_TCP_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
REDIS_KEY_PREFIX=stream-anomaly
REPLAY_KEY_PREFIX=stream-anomaly-replay
MONGODB_URI=
MONGODB_DB_NAME=stream-anomaly
ANOMALY_MULTIPLIER=4
EWMA_ALPHA=0.2